In [1]:
import sys
import pandas as pd
import ast
from function.alphas_function import *
from function.db_function import *

from config import *
import json
from datetime import datetime
from datetime import timedelta

In [2]:
df=pd.read_csv('updated_alpha.csv',converters={'is':ast.literal_eval,'regular':ast.literal_eval})

In [5]:
df.sort_values('dateCreated',ascending=0)

,id,type,author,settings,regular,dateCreated,dateSubmitted,dateModified,name,favorite,...,tags,grade,stage,status,is,os,prod,competitions,themes,team
2969,1nwqL6X,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(log_diff(anl11_eregsubsecperc)...,2023-05-09T02:00:26-04:00,NaN,2023-05-09T06:00:26-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 44524, 'bookSize': 20000000, 'longCoun...",NaN,NaN,NaN,NaN,NaN
2968,kLjxbw8,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(ts_delta(anl11_empreg_industry...,2023-05-09T02:00:12-04:00,NaN,2023-05-09T06:00:12-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 27574, 'bookSize': 20000000, 'longCoun...",NaN,NaN,NaN,NaN,NaN
2967,1nwq1ZX,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-group_rank(ts_zscore(anl11_creptces...,2023-05-09T02:00:00-04:00,NaN,2023-05-09T06:00:00-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 25059, 'bookSize': 20000000, 'longCoun...",NaN,NaN,NaN,NaN,NaN
2966,aW7rMMW,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(ts_rank(densify(anl11_cit3regs...,2023-05-09T01:59:41-04:00,NaN,2023-05-09T05:59:41-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 1892033, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN
2965,aW7r6k1,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(scale(mdl165_dl8ibesnuggetskach...,2023-05-09T01:53:25-04:00,NaN,2023-05-09T05:53:25-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 5462638, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,Rk8l2Gz,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_median(mdl165_dl8ibesnuggets...,2023-05-05T21:09:58-04:00,NaN,2023-05-06T01:09:58-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 6386907, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN
1512,3nRkaNN,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'group_rank(regression_proj(ts_sum(ve...,2023-05-05T21:09:54-04:00,NaN,2023-05-06T01:09:54-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 3970767, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN
1,9ArdanV,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_mean(sqrt(vec_sum(nws12_prez...,2023-05-05T21:09:53-04:00,NaN,2023-05-06T01:09:53-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 6522893, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN
0,dl03E3E,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(ts_min(ts_delay(vec_norm(anl4_...,2023-05-05T21:09:14-04:00,NaN,2023-05-06T01:09:14-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 7869483, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN
1511,ErE8gm1,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_arg_min(mdl31_ab1_cf_chg_1_q...,2023-05-05T21:09:04-04:00,NaN,2023-05-06T01:09:04-04:00,NaN,False,...,[],NaN,IS,UNSUBMITTED,"{'pnl': 3894990, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN

In [ ]:
k = 0
max_submit = 2
hidden = 'no'
submit_fitness = '1'
submit_prod_corr = 0.7
submit_self_corr = 0.7

# Lấy thời điểm cách 4 tuần kể tư hôm nay
last_update = datetime.now() - timedelta(weeks = 4)
date_start = last_update.strftime('%Y-%m-%d')
last_update = last_update.strftime('%Y-%m-%dT00:00:00-00:00')
page = 0

df=pd.read_csv('updated_alpha.csv',converters={'is':ast.literal_eval,'regular':ast.literal_eval})
df['code']=df.apply(get_code,axis=1)
df['raw']=df.apply(get_raw,axis=1)
df['sharpe']=df.apply(get_sharpe,axis=1)
df['fitness']=df.apply(get_fitness,axis=1)
raw1 = df[(df['dateCreated']>last_update)&(df['pass']>=6)&(df['raw']==1)]['id'].to_list()
raw2 = df[(df['dateCreated']>last_update)&(df['pass']>=6)&(df['raw']==2)]['id'].to_list()
raw3 = df[(df['dateCreated']>last_update)&(df['pass']>=6)&(df['raw']==3)]['id'].to_list()
rawo = df[(df['dateCreated']>last_update)&(df['pass']>=6)&(df['raw']>=4)]['id'].to_list()

while k<max_submit:
    try:
        for i in raw1:     
        # Neu la raw alpha
            print('Code Raw: ', df[df['id']==i]['code'].values[0])
            print('Sharpe: ', df[df['id']==i]['sharpe'].values[0])
            print('Fitness:', df[df['id']==i]['fitness'].values[0])
            print(f'Prod correlation: {Infor().get_prod_corr(i)}')
            print(f'Self correlation: {Infor().get_self_corr(i)}')
            k = Infor().submit(i, k)
            if k >= max_submit:
                sys.exit("Done")
           

        for i in raw2:     
        # Neu la raw alpha
            print('Code Raw: ', df[df['id']==i]['code'].values[0])
            print('Sharpe: ', df[df['id']==i]['sharpe'].values[0])
            print('Fitness:', df[df['id']==i]['fitness'].values[0])
            print(f'Prod correlation: {Infor().get_prod_corr(i)}')
            print(f'Self correlation: {Infor().get_self_corr(i)}')
            k = Infor().submit(i, k)
            if k >= max_submit:
                sys.exit("Done")

        for i in raw3:     
        # Neu la raw alpha
            print('Code Raw: ', df[df['id']==i]['code'].values[0])
            print('Sharpe: ', df[df['id']==i]['sharpe'].values[0])
            print('Fitness:', df[df['id']==i]['fitness'].values[0])
            print(f'Prod correlation: {Infor().get_prod_corr(i)}')
            print(f'Self correlation: {Infor().get_self_corr(i)}')
            k = Infor().submit(i, k)
            if k >= max_submit:
                sys.exit("Done")

        for i in rawo:     
        # Neu la raw alpha
            print('Code Raw: ', df[df['id']==i]['code'].values[0])
            print('Sharpe: ', df[df['id']==i]['sharpe'].values[0])
            print('Fitness:', df[df['id']==i]['fitness'].values[0])
            print(f'Prod correlation: {Infor().get_prod_corr(i)}')
            print(f'Self correlation: {Infor().get_self_corr(i)}')
            k = Infor().submit(i, k)
            if k >= max_submit:
                sys.exit("Done")

    except Exception:
        pass