# Import modules

In [4]:
# Basic modules
import pandas as pd
import numpy as np
import ast
import sqlite3
import re 
import random

# Plot modules
import matplotlib.pyplot as plt
import seaborn as sns

# My modules
from function.alphas_function import *
from function.db_function import *
from function.merge_function import *

from hypothesis.optimization import *
from hypothesis.gen_regular_alpha import *
from hypothesis.gen_super_alpha import *
from hypothesis.gen_merge_alpha import *
import data_theme

In [5]:
My_db('user.db').get_data_US(data_theme.datasets)

['oth434_convention_cng_longdebt_equity',
 'oth434_convention_current_ratio',
 'oth434_convention_debt_capital',
 'oth434_convention_debt_equity',
 'oth434_convention_debt_mktcapital',
 'oth434_convention_longdebt_capital',
 'oth434_convention_longdebt_equity',
 'oth434_convention_ocf_currliab',
 'oth434_convention_quick_ratio',
 'oth434_mktcap',
 'oth434_model_altman_zscore',
 'oth434_model_chs_default',
 'oth434_model_merton',
 'oth434_model_ohlson_oscore',
 'oth434_qes_alter_debt_weighted_duration',
 'oth434_qes_alter_debt_weighted_interest_rate',
 'oth434_qes_alter_distance_insolvency_1y',
 'oth434_qes_alter_extreme_insolvency_stress_1y',
 'oth434_qes_alter_extreme_insolvency_stress_9m',
 'oth434_qes_alter_growth_shortterm_debt',
 'oth434_qes_alter_insolvency_stress_1y',
 'oth434_qes_alter_insolvency_stress_2y',
 'oth434_qes_alter_insolvency_stress_9m',
 'oth434_qes_alter_moderate_insolvency_stress_1y',
 'oth434_qes_alter_moderate_insolvency_stress_2y',
 'oth434_qes_alter_moderate_insolvency_stress_9m',
 'oth434_qes_alter_revolver_debt',
 'oth434_qes_alter_short_longterm_debt_ratio',
 'oth434_qes_alter_shortterm_debt_ratio',
 'oth434_qes_model_impliedalpha',
 'oth434_qes_model_prelimcomposite',
 'oth434_qes_model_score',
 'oth427_comparability',
 'oth427_relation',
 'oth427_similarity',
 'oth326_ascore',
 'oth326_aspe',
 'oth326_bspe',
 'oth326_epssurprisepct',
 'oth326_espe',
 'oth326_mean_ascore',
 'oth326_mean_aspe',
 'oth326_mean_bspe',
 'oth326_mean_espe',
 'oth326_mean_neta',
 'oth326_mean_netb',
 'oth326_mean_nete',
 'oth326_mean_nscore',
 'oth326_mean_reva',
 'oth326_mean_revb',
 'oth326_mean_reve',
 'oth326_mean_score1',
 'oth326_mean_score2',
 'oth326_mean_score3',
 'oth326_mean_score4',
 'oth326_mean_score5',
 'oth326_mean_vscore',
 'oth326_neta',
 'oth326_netb',
 'oth326_nete',
 'oth326_netincome',
 'oth326_nscore',
 'oth326_operatingincome',
 'oth326_quarter',
 'oth326_reva',
 'oth326_revb',
 'oth326_reve',
 'oth326_revenue',
 'oth326_score1',
 'oth326_score2',
 'oth326_score3',
 'oth326_score4',
 'oth326_score5',
 'oth326_spe',
 'oth326_vscore',
 'oth326_year',
 'oth384_oecsi',
 'oth384_ofcsi',
 'oth384_presentation_count',
 'oth384_presentation_negfreq',
 'oth384_presentation_negnum',
 'oth384_presentation_paragraphcount',
 'oth384_presentation_posfreq',
 'oth384_presentation_posnum',
 'oth384_presentation_questions',
 'oth384_presentation_sentcount',
 'oth384_presentation_tone',
 'oth384_presentation_wordcount',
 'oth384_qa_count',
 'oth384_qa_negnum',
 'oth384_qa_paragraphcount',
 'oth384_qa_posnum',
 'oth384_qa_questions',
 'oth384_qa_sentcount',
 'oth384_qa_tone',
 'oth384_qa_wordcount',
 'oth384_qerfgen_aq',
 'oth384_qerfsop_aq',
 'oth238_mktcap',
 'oth238_nice',
 'oth378_qad_score',
 'oth378_quad_rank']

In [2]:
delete_pycache(".")

In [3]:
df=pd.read_csv('updated_alpha.csv',converters={'is':ast.literal_eval,'regular':ast.literal_eval}).drop_duplicates('id',keep='first')

In [5]:
df.columns

Index(['id', 'type', 'author', 'settings', 'regular', 'dateCreated',
       'dateSubmitted', 'dateModified', 'name', 'favorite', 'hidden', 'color',
       'category', 'tags', 'grade', 'stage', 'status', 'is', 'os', 'prod',
       'competitions', 'themes', 'team'],
      dtype='object')

In [16]:
def get_result_theme(df):
    for i in df['is']['checks']:
        if i['name']=='MATCHES_THEMES':
            return i['result']

In [17]:
df['them']=df.apply(get_result_theme,axis=1)

In [19]:
df.sort_values('them')

,id,type,author,settings,regular,dateCreated,dateSubmitted,dateModified,name,favorite,...,grade,stage,status,is,os,prod,competitions,themes,team,them
6648,dljo3qX,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_delay(ts_sum(vec_skewness(an...,2023-05-10T06:56:06-04:00,NaN,2023-05-10T10:56:06-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 988914, 'bookSize': 20000000, 'longCou...",NaN,NaN,NaN,NaN,NaN,PASS
6595,N57Nvkg,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'group_rank(vec_powersum(anl16_aftere...,2023-05-10T01:52:58-04:00,NaN,2023-05-10T05:52:58-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 15357, 'bookSize': 20000000, 'longCoun...",NaN,NaN,NaN,NaN,NaN,PASS
6596,0KwYvmr,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_min_diff(anl11_e1regsubsecpe...,2023-05-10T01:55:26-04:00,NaN,2023-05-10T05:55:26-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 1132154, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,PASS
6597,1nwNEVJ,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_max(ts_stddev(anl11_knrtcesg...,2023-05-10T01:56:17-04:00,NaN,2023-05-10T05:56:17-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 3129585, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,PASS
6598,dljWwNg,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(ts_delay(inst_tvr(vec_powersum(...,2023-05-10T02:02:35-04:00,NaN,2023-05-10T06:02:35-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 553713, 'bookSize': 20000000, 'longCou...",NaN,NaN,NaN,NaN,NaN,PASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,G3LjdO0,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...","{'code': 'group_rank(signed_power(mdf_odl,2),s...",2023-05-06T09:38:04-04:00,NaN,2023-05-06T13:38:04-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 5971047, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,WARNING
2906,N5bYkde,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'alpha =rank(ts_min_max_cps(pv103_mbi...,2023-05-09T01:28:14-04:00,NaN,2023-05-09T05:28:14-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 13417055, 'bookSize': 20000000, 'longC...",NaN,NaN,NaN,NaN,NaN,WARNING
2905,LlG0OZ1,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'alpha =group_rank(arc_tan(mdl165_dl8...,2023-05-09T01:27:59-04:00,NaN,2023-05-09T05:27:59-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 6007395, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,WARNING
2993,YW7jw3q,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(days_from_last_change(vec_avg(...,2023-05-09T01:59:25-04:00,NaN,2023-05-09T05:59:25-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 5041351, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,WARNING
0,dl03E3E,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(ts_min(ts_delay(vec_norm(anl4_...,2023-05-05T21:09:14-04:00,NaN,2023-05-06T01:09:14-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 7869483, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,WARNING

# Tổng kết

In [8]:
Simulate().regular('close')

{'id': 'rzebWL1',
 'type': 'REGULAR',
 'author': 'TN31932',
 'settings': {'instrumentType': 'EQUITY',
  'region': 'USA',
  'universe': 'TOP3000',
  'delay': 1,
  'decay': 0,
  'neutralization': 'SUBINDUSTRY',
  'truncation': 0.08,
  'pasteurization': 'ON',
  'unitHandling': 'VERIFY',
  'nanHandling': 'OFF',
  'language': 'FASTEXPR',
  'visualization': False},
 'regular': {'code': 'close', 'description': None, 'operatorCount': 0},
 'dateCreated': '2023-03-11T10:28:51-05:00',
 'dateSubmitted': None,
 'dateModified': '2023-03-11T15:28:51-05:00',
 'name': None,
 'favorite': False,
 'hidden': False,
 'color': None,
 'category': None,
 'tags': [],
 'grade': None,
 'stage': 'IS',
 'status': 'UNSUBMITTED',
 'is': {'pnl': -1617455,
  'bookSize': 20000000,
  'longCount': 1111,
  'shortCount': 1925,
  'turnover': 0.0155,
  'returns': -0.0164,
  'drawdown': 0.3297,
  'margin': -0.002125,
  'fitness': -0.08,
  'sharpe': -0.21,
  'checks': [{'name': 'LOW_SHARPE',
    'result': 'FAIL',
    'limit': 1.58,
    'value': -0.21},
   {'name': 'LOW_FITNESS', 'result': 'FAIL', 'limit': 1.0, 'value': -0.08},
   {'name': 'LOW_TURNOVER', 'result': 'PASS', 'limit': 0.01, 'value': 0.0155},
   {'name': 'HIGH_TURNOVER', 'result': 'PASS', 'limit': 0.7, 'value': 0.0155},
   {'name': 'CONCENTRATED_WEIGHT', 'result': 'FAIL'},
   {'name': 'LOW_SUB_UNIVERSE_SHARPE',
    'result': 'FAIL',
    'limit': -0.09,
    'value': -0.15},
   {'name': 'SELF_CORRELATION', 'result': 'PENDING'},
   {'name': 'PROD_CORRELATION', 'result': 'PENDING'},
   {'name': 'REGULAR_SUBMISSION', 'result': 'PENDING'},
   {'name': 'MATCHES_THEMES',
    'result': 'WARNING',
    'matched': [],
    'unmatched': [{'id': 'lyaEWy3',
      'name': 'Data Field Theme 16',
      'multiplier': 5.0}]},
   {'name': 'IS_LADDER_SHARPE', 'result': 'PENDING'}]},
 'os': None,
 'prod': None,
 'competitions': None,
 'themes': None,
 'team': None}

In [3]:
Infor().get_number_submit('2023-05-24')

mx1b9L9 ===== -group_rank(ts_zscore(open,20),sector)+rank(ts_co_kurtosis(news_mov_vol,winsorize(vec_avg(nws31_amertimestamp_date)),252)) === 8 === 2023-05-24T08:52:31-04:00 === 2023-05-23T21:40:28-04:00
========
AOxxrkW ===== rank(ts_zscore(zscore(mdl165_dl8ibesnuggetschiwumodel1_42v),180))-group_rank(ts_corr(ts_min_max_diff(fnd17_altd2cap,240),normalize(mdl162_66_q_ta),240),industry) === 8 === 2023-05-24T08:56:07-04:00 === 2023-05-18T01:55:03-04:00
========
ErlRnO9 ===== rank(ts_scale(mdl165_dl8ibesnuggetskachengmodel1_7v,240))+rank(regression_neut(ts_mean(est_q_gps_raised_1wk,252),log(fnd6_cptnewqv1300_oeps12))) === 7 === 2023-05-24T09:03:56-04:00 === 2023-05-09T22:29:12-04:00
========
Q5V6e55 ===== group_rank(s_log_1p(mdl165_dl8ibesnuggetskachengmodel1_31v)/ts_sum(mdl165_dl8ibesnuggetskachengmodel1_23v,240),sector)+rank(ts_corr(ts_ir(vec_choose(anl44_best_ptp_median,nth=0),5),zscore(mdl211_oprq_deltaprofitability_profitability2),240)) === 10 === 2023-05-24T09:12:58-04:00 === 2023-05-06T04:22:59-04:00
========

4

In [6]:
df = pd.read_csv('alpha_lab/raw_sti.csv',converters={'is':ast.literal_eval,'regular':ast.literal_eval})
df['fitness']=df.apply(get_fitness,axis=1)

In [9]:
df.sort_values(by='fitness',ascending=False)

,id,type,author,settings,regular,dateCreated,dateSubmitted,dateModified,name,favorite,...,grade,stage,status,is,os,prod,competitions,themes,team,fitness
7,Q557VQM,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'group_rank(ts_zscore(fnd7_ointfund_q...,2023-04-28T03:43:05-04:00,NaN,2023-04-28T07:43:05-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 10620684, 'bookSize': 20000000, 'longC...",NaN,NaN,NaN,NaN,NaN,2.28
10,mxxgLdE,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'group_rank(rank(mdl165_dl8starminenu...,2023-04-28T05:28:04-04:00,NaN,2023-04-28T09:28:04-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 9635301, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,2.25
331,xmmYrAg,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'group_rank(ts_delta(fnd17_dvolshsout...,2023-04-28T07:37:36-04:00,NaN,2023-04-28T11:37:36-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 8045063, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,2.25
5,eqqz0wN,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...","{'code': 'rank(log(vec_choose(mdl139_score,nth...",2023-04-28T03:42:01-04:00,NaN,2023-04-28T07:42:01-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 9568213, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,2.20
11,kLLVqYk,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'group_rank(mdl165_dl8starminenuggets...,2023-04-28T05:28:34-04:00,NaN,2023-04-28T09:28:34-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 7448992, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,2.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,9AAVwAx,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(arc_tan(mdl165_dl8starminenugge...,2023-04-28T07:00:03-04:00,NaN,2023-04-28T11:00:03-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 3761062, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,0.84
199,vJJkmVa,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(vector_neut(ts_weighted_delay(m...,2023-04-28T06:54:36-04:00,NaN,2023-04-28T10:54:36-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 3923186, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,0.81
126,dllO7lK,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': 'rank(s_log_1p(mdl165_dl8starminenugg...,2023-04-28T06:30:45-04:00,NaN,2023-04-28T10:30:45-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 3423841, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,0.78
55,mxxgkv9,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...","{'code': '-rank(ts_av_diff(pv103_o_price,10))-...",2023-04-28T06:03:02-04:00,NaN,2023-04-28T10:03:02-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 7286620, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,0.77
218,xmmYxxg,REGULAR,TN31932,"{'instrumentType': 'EQUITY', 'region': 'USA', ...",{'code': '-rank(ts_ir(ts_av_diff(mdl165_forddl...,2023-04-28T07:00:45-04:00,NaN,2023-04-28T11:00:45-04:00,NaN,False,...,NaN,IS,UNSUBMITTED,"{'pnl': 4141571, 'bookSize': 20000000, 'longCo...",NaN,NaN,NaN,NaN,NaN,0.68

In [6]:
Infor().check_alpha('Q557VQM')

{'is': {'checks': [{'name': 'LOW_SHARPE',
    'result': 'PASS',
    'limit': 1.58,
    'value': 3.11},
   {'name': 'LOW_FITNESS', 'result': 'PASS', 'limit': 1.0, 'value': 2.28},
   {'name': 'LOW_TURNOVER', 'result': 'PASS', 'limit': 0.01, 'value': 0.2012},
   {'name': 'HIGH_TURNOVER', 'result': 'PASS', 'limit': 0.7, 'value': 0.2012},
   {'name': 'CONCENTRATED_WEIGHT', 'result': 'PASS'},
   {'name': 'LOW_SUB_UNIVERSE_SHARPE',
    'result': 'PASS',
    'limit': 1.35,
    'value': 1.91},
   {'name': 'SELF_CORRELATION', 'result': 'PENDING', 'limit': 0.7},
   {'name': 'PROD_CORRELATION', 'result': 'PENDING', 'limit': 0.7},
   {'name': 'REGULAR_SUBMISSION', 'result': 'PASS', 'limit': 4, 'value': 2},
   {'name': 'MATCHES_THEMES',
    'result': 'WARNING',
    'matched': [],
    'unmatched': [{'id': 'PBVP54M',
      'name': 'Data Field Theme 15',
      'multiplier': 5.0}]},
   {'name': 'IS_LADDER_SHARPE',
    'result': 'FAIL',
    'year': 2,
    'startDate': '2021-02-16',
    'endDate': '2019-02-17',
    'limit': 1.58,
    'value': 1.55}]}}